h1 {
    color: #333;
    font-size: 20px;
}

h2 {
    color: #666;
    font-size: 16px;
}
a {
    color: blue;
    font-size: 12px;
}

table {
    border-collapse: collapse;
}

thead {
    color: #666;
}

th {
    background-color: #646464;
    border: 1px solid black;
    padding: 10px;
    color: white;
}

td {
    color: black;
    padding: 10px;
    border: 1px solid black;
}

tbody {
    color: #fff;
}

tfoot {
    color: #ccc;
}

tfoot {
    background-color: lightgray;
}